@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Rich Text Component */
.dark .custom-editor .e-rte-content {
	background-color: #33373e !important; 
	color: #f7f7f7 !important;
}



/* Grid Component */
.dark .e-grid .e-headercell {
	background-color: #33373E;
	color: #f7f7f7;
}

.dark .e-row {
	background-color: #33373e;
	color: #f7f7f7;
}

.dark .e-grid .e-rowcell {
	color: #777 !important;
}

.dark .e-grid .e-row:hover {
    background-color: #444 !important;
    color: #f7f7f7 !important;
}





/* Kanban Board */
.dark .e-kanban .e-card {
	background-color: #33373E !important;
}

.dark .e-kanban .e-card:hover {
    background-color: #444 !important;
}

.dark .e-kanban .e-card .e-card-content {
	color: #FAFBFB !important;
}

.dark .e-kanban .e-card .e-card-header {
	background-color: #1f2937 !important;
	color: #f7f7f7 !important;
}

.dark .e-kanban .e-header-cells {
    color: #f7f7f7 !important;
}

.dark .e-kanban .e-card .e-card-header {
    background-color: #aaa !important;
    color: #f7f7f7 !important;
}








/* Calendar Background */


  
  /* Calendar Headers */
  .dark .e-schedule .e-header-cells {
	background-color: #1f2937 !important;
	color: #f7f7f7 !important;
  }
  
  /* Calendar Cells */
  .dark .e-schedule .e-work-cells,
  .dark .e-schedule .e-month-view,
  .dark .e-schedule .e-day-view,
  .dark .e-schedule .e-day-cells,
  .dark .e-schedule .e-week-view ,
  .dark .e-schedule .e-agenda-view,
  .dark .e-schedule .e-work-week-view,
  .dark .e-schedule .e-work-hours-cells {
	background-color: #33373e !important;
	color: #f7f7f7 !important;
  }

  /* Calendar Current Day */
  .dark .e-schedule .e-current-date {
	background-color: #1f2937 !important;
	color: #f7f7f7 !important;
  }

  /* Calendar Event Background */
  
  /* Calendar Appointment Cards */
  .dark .e-schedule .e-appointment {
	background-color: #aaa !important;
	color: #f7f7f7 !important;
	border-color: #555 !important;
  }
  

